body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1.75rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  text-shadow: 1px 1px rgb(251, 193, 48);
}

.mainContainer {
  position: absolute;
  top: 10vh;
}

button {
  font-size: 0.75rem;
}

button:hover {
  color: #023047;
  background-color: rgb(251, 194, 48);
  border: solid #023047;
  box-shadow: 5px 5px 0px 0px rgba(251, 194, 48, 1);
}

/*------------ HEADER ------------*/
header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  height: fit-content;
  background-color: #023047;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

img {
  height: 100px;
}

/*------------ Content Container ------------*/
.contentContainer {
  margin: 7rem;
}

.btnGoFit, .btnGoBack {
  position: absolute;
  padding: 0.75rem;
  color:rgb(251, 194, 48);
  background-color: #023047;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  transition: all 0.3s ease 0s;
}

/*------------ New Piece Form ------------*/
.optionContainer {
  margin: 0 auto; 
  padding: 2rem;
  width: 30rem;
  color: #023047;
  background-color: #b3c6cb;
  border: solid #023047;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}

#form {
  margin-top: 4rem;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.56); */
}

.formQuestion {
  display: inline-block;
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
}

input {
  margin-left: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #8ECAE6;
  border: 1px solid #023047;
  border-radius: 5px;
}

.submit {
  margin: 0 45%;
  padding: 0.5rem;
  width: fit-content;
  color: #023047;
  background-color: rgb(142, 202, 230);
  border: solid #023047;
  box-shadow: 5px 5px 0px 0px rgba(142, 202, 230, 1);
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}

.submit:hover {
  /* color: #023047;
  background-color: rgb(142, 202, 230);
  border: solid #023047;
  box-shadow: 5px 5px 0px 0px rgba(142, 202, 230, 1); */
  color: #023047;
  background-color: rgb(251, 133, 0);
  border: solid #fbc230;
  box-shadow: 5px 5px 0px 0px rgba(251, 133, 0, 1);
}

/*------------ Today's Fit Check ------------*/
.fitcheck-container {
  margin: 0 auto; 
  padding: 1rem;
  width: 30rem;
  color: #023047;
  background-color: #b3c6cb;
  border: solid #023047;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}

#fitcheck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.56);
}

.todayWeather-form {
  display: flex;
  justify-content: center;
}

.btnYolo {
  margin: 0 47%;
  padding: 0.5rem;
  width: fit-content;
  font-size: 1rem;
  color: #023047;
  background-color: #FB8500;
  border: solid #fbc230;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  transition: all 0.3s ease 0s;
}

.btnYolo:hover {
  color: #023047;
  background-color: rgb(142, 202, 230);
  border: solid #023047;
  box-shadow: 5px 5px 0px 0px rgba(142, 202, 230, 1);
}

/*------------ Wardrobe ------------*/
.wardrobeBox {
  color:#fbc230;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(2, 48, 71, 1) 100%);
  border-top: solid #023047;
}

.wardrobeBox h2 {
  text-shadow: none;
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#clothingCard {
  width: 15rem;
  padding: 1.5rem;
  margin: 15px;
  font-size: 1.25rem;
  color: #fbc230;
  background-color: #023047;
  border: 1px solid #fbc230;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(251, 193, 48,0.25);
  transition: all 0.3s ease 0s;  
}

#clothingCard:hover {
  transform: rotate(10deg);
}

strong {
  color: #FB8500;
}

